@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?5vlka7');
  src:  url('fonts/icomoon.eot?5vlka7#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?5vlka7') format('truetype'),
    url('fonts/icomoon.woff?5vlka7') format('woff'),
    url('fonts/icomoon.svg?5vlka7#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e909";
}
.icon-play:before {
  content: "\e900";
}
.icon-likes:before {
  content: "\e901";
}
.icon-comments:before {
  content: "\e902";
}
.icon-eye:before {
  content: "\e903";
}
.icon-arrow:before {
  content: "\e904";
}
.icon-search:before {
  content: "\e905";
}
.icon-fb:before {
  content: "\e906";
}
.icon-twitter:before {
  content: "\e907";
}
.icon-instagram:before {
  content: "\e908";
}

