// mixins

=transition($transition)
	-moz-transition: $transition
	-o-transition: $transition
	-webkit-transition: $transition
	transition: $transition

=transform($transform)
	-moz-transform: $transform
	-o-transform: $transform
	-webkit-transform: $transform
	transform: $transform

=box-shadow($boxshadow)
	-moz-box-shadow: $boxshadow
	-o-box-shadow: $boxshadow
	-webkit-box-shadow: $boxshadow
	box-shadow: $boxshadow


// Responsive


$break-small: 320px
$break-medium: 600px
$break-large: 1100px

$height-mid: 875px
$height-small: 575px

@media (max-width: $break-large)
    html
        font-size: 12px

    .main-left
        width: 70%

        .header, .footer .pages
            padding-left: 6vw

        .content
            .text
                &:before
                    font-size: 6rem
                    top: -3.5rem
                    left: -3rem

    .main-right
        width: 30%

        .slide
            justify-content: flex-start

            .h2
                font-size: 4rem
                align-self: flex-end
                margin-left: 20px
                margin-bottom: 15px


@media (max-width: $break-medium)
    // #main-wrapper
    .main-left
        width: 100%
        overflow: hidden

        .header
            margin-top: 15px
            margin-top: 0
            padding: 0 2rem
            display: flex
            justify-content: space-between
            align-items: center

            .h1
                order: 2
                margin-right: 0

            .menu-icon
                order: 1
                margin-right: 0

                .line-1
                    width: 65%

                .line-2
                    width: 85%

            .search
                order: 3

                i.icon-search
                    color: #000
                    margin-right: 0

            #search-input
                display: none

        .footer
            bottom: .5vh
            justify-content: space-between

            .meta
                order: 1
                margin: 0 0 10rem 4rem
                width: auto

                .likes, .views, .comments
                    i.icon, .num
                        font-size: 1.3rem

            .pages
                order: 2
                font-size: 1.7rem
                width: auto
                padding: 0
                margin: 0 2rem 2rem 0
                
                .span
                    font-size: 1.7rem

                i.icon
                    font-size: 1.7rem

        .sidebar
            display: none

        .content
            align-items: flex-start

            .text
                +transform(translate(4rem,9rem))

                &:before
                    content: ''

    .menu-layer
        width: 0%
        z-index: 4

        .header
            margin-top: 0
            padding: 0 2rem
            display: flex
            justify-content: flex-start
            align-items: center

            .h1
                margin-right: 0
                top: 0.3rem
                position: relative

            .icon-close
                top: 1rem

    .main-right
        width: 100%
        height: 240px
        height: 20rem
        position: absolute
        top: 8vh
        z-index: 3

        .h2
            display: none


@media (max-width: $break-small)
    html
        font-size: 10px


@media (max-height: $height-mid)
    .menu-layer
        .list
            padding-top: 1rem

            li
                h2
                    font-size: 3.5rem


@media (max-height: $height-small)
    html
        font-size: 12px

    .menu-layer
        .list
            flex-direction: row
            justify-content: center
            
            li
                h2
                    font-size: 2.5rem

            .underline
                display: none