doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")

		title Design Quotes
		link(rel="stylesheet" type="text/css" href="css/style.css")
		link(rel="stylesheet" type="text/css" href="css/responsive.css")
		link(rel="stylesheet" type="text/css" href="css/fonts.css")
		link(rel="stylesheet" type="text/css" href="css/nprogress.css")
		link(href="https://fonts.googleapis.com/css?family=Abril+Fatface|Lato:700" rel="stylesheet")
		
		meta(property="og:image" content="http://ssstratos.com/design-quotes/images/fbshare.jpg")

		//- link(rel="shortcut icon" href="img/favicon.ico" type="image/x-icon")
	body
		#main-wrapper

			.main-left

				.sidebar
					.sep.sep-top
					.social-bar
						i.icon.icon-fb
						i.icon.icon-twitter
						i.icon.icon-instagram
					.sep.sep-bot

				.content.content-1.active
					.text
						.bg-h2
							span Design

						.h2 Design is a journey of
						.h2.special Discovery
						.special-line
					
						.author
							.title Written by
							.info Derek Parker, April 05, 2017

						.btn
							i.icon.icon-play

				.content.content-2
					.text
						.bg-h2
							span Seek

						.h2 Do not seek praise.
						.h2.special Seek criticism.
						.special-line
					
						.author
							.title Written by
							.info Dom Goodrum, January 23, 1996

						.btn
							i.icon.icon-play

				.content.content-3
					.text
						.bg-h2
							span Visual

						.h2 Design is thinking
						.h2.special made visual.
						.special-line
					
						.author
							.title Written by
							.info Saul Bass, August 11, 1857

						.btn
							i.icon.icon-play

				.header
					.h1 Design.

					.menu-icon
						.line.line-1
						.line.line-2
						.line.line-3

					form.search
						i.icon.icon-search
						input#search-input(name="Search" type="text" placeholder="Search")

				.footer
					.pages
						.span 
						.span of
						.span 
						i.icon.icon-arrow.nextPage

					.meta
						.likes
							i.icon.icon-likes
							.num 160
						.views
							i.icon.icon-eye
							.num 589
						.comments
							i.icon.icon-comments
							.num 34

			.menu-layer
				.header
					.h1 Design.

					i.icon.icon-close.closeMenu

				
				ul.list
					li 
						h2 Home
						.underline
					li 
						h2 Work
						.underline
					li 
						h2 About
						.underline
					li 
						h2 Contact
						.underline

				.info
					.info-name
						| Crafted by 
						a(href='#') Stratos Iordanidis
					.info-name
						.sep
						| Design by 
						a(href='https://dribbble.com/divanraj') Divan Raj

					//- form.search
					//- 	i.icon.icon-search
					//- 	input#search-input(name="Search" type="text" placeholder="Search")

				.line.line-top
				.line.line-bot
			.main-right
				.white-cover

				.slide.slide-1
					.h2
						span Design

				.slide.slide-2
					.h2
						span Seek

				.slide.slide-3
					.h2
						span Visual

			
		#loader
			.percent
			.line

script(src="node_modules/jquery/dist/jquery.min.js")
script(src="node_modules/gsap/src/minified/TweenLite.min.js")
script(src="node_modules/gsap/src/minified/TimelineMax.min.js")
script(src="node_modules/gsap/src/minified/plugins/CSSPlugin.min.js")
script(src="node_modules/gsap/src/minified/easing/EasePack.min.js")
//- script(src="node_modules/gsap/src/minified/plugins/ScrollToPlugin.min.js")
//- script(src="node_modules/jquery-mousewheel/jquery.mousewheel.js")
script(src="js/nprogress.js")
script(src="js/animation.js")