#main-wrapper
    display: flex
    flex-direction: row
    // justify-content: center
    justify-content: flex-end
    align-items: stretch
    width: 100%
    height: 100%

.main-left, .main-right
    width: 50%
    height: 100%
    font-size: 0

.main-left
    background-color: #ffffff
    position: relative
    overflow: hidden
    z-index: 3

    &.last
        // .footer
        //     .pages
        .nextPage
            color: #e2e2e2

    .sidebar
        display: inline-block
        height: 100vh
        position: absolute
        top: 0
        left: 0
        overflow: hidden
        z-index: 1

    .sep
        width: 2px
        background-color: #E5E5E5
        height: 10vh
        margin-left: 25px

        &.sep-bot
            height: 70vh

    .social-bar
        display: inline-block
        text-align: center
        height: 20vh
        padding-top: 42px
        margin-left: 16px

        i.icon
            display: block
            font-size: 18px
            color: #CBCBCB
            margin-bottom: 25px
            cursor: pointer
            padding: 2px
            +transition(all .5s)

            &:last-child
                margin-bottom: 0

            &.icon-instagram
                border-radius: 26%

            &.icon-twitter
                font-size: 15px

            &:hover
                &.icon-instagram
                   background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%)
                   color: white
                
                &.icon-fb
                    color: #3b5998

                &.icon-twitter
                    color: #00aced

    .header
        width: 100%
        height: 50px
        margin-top: 30px
        padding-left: 7vw
        position: absolute
        top: 0
        left: 0
        z-index: 1

        .h1
            font-size: 1.6rem
            color: #000
            display: inline-block
            margin-right: 35px

        .menu-icon
            display: inline-block
            width: 19px
            height: auto
            cursor: pointer
            margin-right: 70px
            
            .line
                width: 100%
                height: 2px
                background-color: #000
                margin-bottom: 4px

                &:last-child
                    margin-bottom: 0

        .search
            display: inline-block

            i.icon-search
                font-size: 18px
                color: #8a8989
                margin-right: 15px

        #search-input
            font-size: 1rem
            font-family: $base-font
            color: #909090
            border: none
            position: relative
            top: -2px

    .footer
        width: 100%
        height: 35px
        display: flex
        align-items: center
        position: absolute
        bottom: 3vh
        z-index: 1

        .pages
            display: flex
            width: 50%
            justify-content: flex-start
            align-content: center
            padding-left: 7vw

            .span
                font-size: 1.2rem
                color: #000
                display: inline-block
                margin-right: 5px
                margin-right: .3rem

            i.icon
                font-size: 1.2rem
                position: relative
                top: .2rem
                margin-left: .7rem
                cursor: pointer

        .meta
            display: flex
            justify-content: flex-end
            width: 50%
            margin-right: 3vw

            .likes, .views, .comments
                display: flex
                align-content: center
                cursor: pointer
                
            i.icon
                // font-size: 19px
                font-size: 1.2rem
                color: #8D8D8D
                display: inline-block
                margin-right: 10px
                margin-right: 0.6rem

            .num
                font-size: 1rem
                color: #000
                display: inline-block
                margin-right: 28px
                margin-right: 1.8rem

            .comments
                .num
                    margin-right: 0

// main-left content

.content
    display: flex
    width: 100%
    height: 100%
    align-items: center
    // position: relative
    position: absolute
    flex-direction: column
    justify-content: center
    overflow: hidden

    // Content colors
    $content-special-color-1: #266041
    $content-special-color-2: #006990
    $content-special-color-3: #2e2926
    
    .text
        position: relative
        z-index: 2
        text-align: left
        min-width: 24.5rem

        .bg-h2
            position: absolute
            z-index: 1
            width: 100%
            top: -5rem
            left: -4.5rem
            overflow: hidden

            span
                font-size: 7.8rem
                color: #f0f0f0
                font-family: $serif-font
                display: block

        .h2
            font-size: 2.1rem
            color: #000
            position: relative
            z-index: 2

            &.special
                display: inline-block
                color: $content-special-color-1
        
        .special-line
            width: 30px
            height: 2px
            display: inline-block
            background-color: $content-special-color-1
            margin-left: 19px
            position: relative
            z-index: 2
            top: -6px

        .author
            position: relative
            z-index: 2
            margin-top: 30px
            margin-top: 1.9rem

            .title
                font-size: 0.8rem
                color: #BABABA
                display: block

            .info
                font-size: 1rem
                color: #000

        .btn
            width: 4.5rem
            height: 4.5rem
            background-color: $content-special-color-1
            display: inline-block
            border-radius: 100%
            +box-shadow(0px 8px 40px rgba(38, 38, 38, 0.2))
            position: relative
            display: flex
            justify-content: center
            align-items: center
            margin-top: 50px
            margin-top: 3rem
            cursor: pointer

            i.icon
                font-size: 17px
                font-size: 1.1rem
                color: white
                +transform(translate(2px,0))

            &:hover
                background-color: darken($content-special-color-1, 10%)

    &.content-2
        .text
            .h2
                &.special
                    color: $content-special-color-2
            .btn, .special-line
                background-color: $content-special-color-2
                &:hover
                    background-color: darken($content-special-color-2, 10%)

    &.content-3
        .text
            .h2
                &.special
                    color: $content-special-color-3
            .btn, .special-line
                background-color: $content-special-color-3
                &:hover
                    background-color: darken($content-special-color-3, 10%)

.menu-layer
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0
    width: 0%
    background-color: #fff
    z-index: 2
    overflow: hidden

    .line-top, .line-bot
        width: 0%
        height: 1px
        position: absolute
        background-color: #e2e2e2
        // background-color: #000
        left: 0
        right: 0

    .line-top
        top: 5rem

    .line-bot
        bottom: 5rem

    .header
        width: 100%
        height: 50px
        margin-top: 30px
        padding-left: 7vw
        position: relative
        top: 0
        left: 0
        z-index: 1

        .h1
            font-size: 1.6rem
            color: #000
            display: inline-block
            margin-right: 35px

        .icon-close
            position: absolute
            right: 1rem
            cursor: pointer
            top: -0.8rem
            padding: 1rem
    
    .list
        // padding-left: 7vw
        list-style: none
        display: flex
        flex-direction: column
        // align-items: flex-start
        padding-top: 3rem

        li
            h2
                font-family: $serif-font
                font-size: 6.5rem
                color: #dedede
                cursor: pointer
                padding: 1rem 0 1rem 7vw
                font-weight: 300
                +transition(color .4s ease-in-out)

                &:hover
                    color: #000

                    & + .underline
                        width: 100%

            .underline
                width: 0%
                align-self: flex-start
                height: 1px
                background-color: #dedede
                +transition(width .7s cubic-bezier(0.86, 0, 0.07, 1))

    .info
        position: absolute
        right: 2rem
        bottom: 2rem
        font-size: .9rem
        color: #828282

        .info-name
            display: inline-block

        a
            color: #828282
            +transition(color .3s ease-in-out)

            &:hover
                color: #000

        .sep
            display: inline-block
            margin: 0 1.5rem
            background-color: #dedede
            height: 1.3rem
            width: 1px
            top: .3rem
            position: relative

.main-right
    overflow: hidden
    +transition(all 0.4s)
    position: relative
    z-index: 1

    .white-cover
        width: 100%
        width: 0
        height: 100%
        background-color: #fff
        position: absolute
        top: 0
        left: 0
        bottom: 0
        z-index: 2

.slide
    width: 100%
    height: 100%
    background-color: #f0f0f0
    background-repeat: no-repeat
    background-size: cover
    display: flex
    justify-content: center
    position: absolute

    .h2
        align-self: center
        overflow: hidden

        span
            color: #ffffff
            font-family: $serif-font
            font-size: 7rem
            display: block

    &.slide-1
        background-image: url('../images/backgrounds/bg1.jpg')

    &.slide-2
        background-image: url('../images/backgrounds/bg2.jpg')

    &.slide-3
        background-image: url('../images/backgrounds/bg3.jpg')

// -------------- Mobile Modules

.header-mob
    width: 100%

// -------------- loader

#loader
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index: 10
    background-color: #fff

    .percent 
        position: absolute
        font-size: 3rem
        color: #e2e2e2
        z-index: 2
        margin-left: 6rem
        font-family: $serif-font

    .line
        width: 1px
        height: 0%
        position: absolute
        background-color: #e2e2e2
        top: 0
        +transition(0.3s ease-in-out)